.searchbox {
  display:block;
  margin:auto;
  border: 1px solid #d9d9d9;
  width: 568px; height: 28px;
  border-top-color: #c0c0c0;
}

.searchform {
  display: inline-block;
  width:521px;
}

input {
  border: none;
  height: 19.188x; width:521px;
  vertical-align: center;
  color:initial;
  position: relative;
  vertical-align: center;
  margin-bottom: auto;
  outline-width: 0;
 
}

.searchmic {
  background: url(mic.gif) no-repeat center;
  background-size: 14px 19px;
  display:inline-block;
  height: 23px; width: 17px;
  position: relative;
  left: 15px;
  vertical-align: middle;
}

#header {
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  text-align: right;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e4e4e4;
  display: block;
  height:40px;width:1600px;
  border-top: 1px solid #c0c0c0;
}

#footer-left {
  display: inline-block;
  text-align:left;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

#footer-right {
  display: inline-block;
  text-align: right; 
  position: absolute;
  right:20px;
  bottom:15px;
}

li {
  display: inline;
  margin: 5px;
}

a{
  color: #404040;
  text-decoration: none;
  line-height: 24x;
  vertical-align: middle;
  display: inline-block;
  font-size: 13px;
  font-family: arial, sanss-serif;
}

a:hover {
  text-decoration: underline;
}

#sign-in {
  height: 28px, width: 45px;
  background-color: #4387fd;
  color: white;
  padding: 8px 10px 8px 10px;
  border-radius: 3px;
  font-weight: bold;
  margin:5px 10px 5px 10px;
}

.search-button {
  height: 28px, width: 45px;
  background-color: #e4e4e4;
  color: #404040;
  padding: 8px 10px 8px 10px;
  border-radius: 3px;
  font-weight: bold;
  margin:5px 10px 5px 10px;
}